# values.yaml for your *wrapper* chart

vault:
  fullnameOverride: bankvault

  server:
    enabled: true
    tls:
      enabled: true
      secretName: ""
      generate: true
      ca:
        subject: "/CN=vault-ca"
    listener:
      tcp:
        address: "0.0.0.0:8200"
        tls_disable: false

  bankVaults:
    enabled: true
    tls:
      enabled: true
      secretName: ""
    config:
      vault:
        address: https://127.0.0.1:8200
        caCert: /vault/tls/ca.crt
        tlsSkipVerify: true

      unsealConfig:
        options:
          preFlightChecks: true
        kubernetes:
          # we want the secret in *bankvault* namespace
          secretNamespace: bankvault
          secretName: bank-vaults

      enableMetrics: true

  # IMPORTANT: this must be a **sibling of server/bankVaults**, under `vault:`
  unsealer:
    args:
      - --mode
      - k8s
      - --k8s-secret-namespace
      - bankvault          # <--- NOT default
      - --k8s-secret-name
      - bank-vaults
