# values.yaml
vault:
  fullnameOverride: bankvault
  
  server:
    enabled: true
    tls:
      enabled: true
      secretName: ""
      generate: true
      ca:
        subject: "/CN=vault-ca"
    
    listener:
      tcp:
        address: "0.0.0.0:8200"
        tls_disable: false

  bankVaults:
    enabled: true
    tls:
      enabled: true
      secretName: ""
    
    # Unsealer-specific config
    unsealer:
      args:
        - --mode
        - k8s
        - --k8s-secret-namespace
        - bankvault  # Your namespace
        - --k8s-secret-name
        - bank-vaults
      
      # Unsealer configuration
      unsealConfig:
        options:
          preFlightChecks: true
        kubernetes:
          secretNamespace: bankvault
          secretName: bank-vaults
    
    # Configurer config
    config:
      vault:
        address: https://127.0.0.1:8200
        caCert: /vault/tls/ca.crt
        tlsSkipVerify: true

vault-operator:
  enabled: true

vault-secrets-webhook:
  enabled: true
